body {
  font-family: Arial;
}
.hide {
  display: none;
}
.flex-container {
  display: flex;
  justify-content: space-between;
}
.bill-properties ul {
  border-color: #0a4386;
  border-width: 5px 1px 1px;
  border-style: solid;
  list-style: none;
  padding: 1em;
}
button.dark,
span.dark {
  background-color: #eee;
}
button.light,
span.light {
  color: #555;
}
