@import 'node_modules/bootstrap/scss/bootstrap.scss';

body {
    font-family: Arial;
}

.hide {
	display: none;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.bill-properties {
    ul {
        border-color: #0a4386;
        border-width: 5px 1px 1px;
        border-style: solid;
        list-style: none;
        padding: 1em;
    }
}

button.dark,
span.dark {
	background-color: #eee;
}

button.light,
span.light {
	color: #555;
}

#messageTextArea,
.slate-requestor-email-form input {
	width: 100%;
}

.slate-requestor-email-form {
	margin-bottom: 1rem;
}

#privacyModal {
	top: unset;
	height: unset;
	bottom: 0;
}

.privacy-notice + div button {
	display: none;
}

.privacy-notice {
	position: fixed;
	bottom: 0;
	background-color: white;
	padding-top: 15px;
  padding-bottom: 15px;
	&.hide + div button {
		display: inline-block;
	}
}

#messageForm,
.register-me
{
	padding-bottom: 15px;
}